/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000818;
    color: #e1e9fe;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 3;
    color: #739bfc;
}

.navbar .logo a {
    color: #739bfc;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: #739bfc;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #739bfc;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 50%;
        background: #000818;
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        display: none;
        z-index: 3;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Hero Section (Image Head) */
.img-head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url('/imgs/semi_jose.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.img-head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.content {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.content h2 {
    font-size: 52px;
    padding-bottom: 40px;
    font-weight: 400;
}

.content p {
    font-weight: 200;
    font-size: 20px;
}

@media (max-width: 768px) {
    .content h2 {
        font-size: 32px;
    }

    .content p {
        font-size: 16px;
    }
}

/* Section Container */
.container2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
}

.background-gradient {
    position: absolute;
    left: 0;
    top: 280px;
    background: linear-gradient(to top, #a6c2c7, #daf9ff);
    border-radius: 15px;
    width: 340px;
    height: 250px;
    z-index: 1;
    margin-left: 100px;
}

.grdimg {
    position: relative;
    width: 300px;
    height: 500px;
    z-index: 2;
    margin-left: 120px;
}

.grdimg img {
    width: 100%;
    height: 100%;
    object-fit: center;
}

.text-container {
    position: absolute;
    right: 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.text-container p {
    margin-top: 4%;
}

.para {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
    text-align: start;
    margin-top: 5%;
}

.para p {
    font-size: 16px;
    padding-top: 2%;
}

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
        height: 1350px;
    }

    .background-gradient {
        margin-left: 50px;
    }

    .grdimg {
        margin-left: 74px;
    }

    .text-container {
        position: relative;
        top: 150px;
        left: 80px;
        align-items: center;
        justify-content: center;
    }

    .para {
        flex-direction: column;
    }
    .container3{
        flex-direction: column;
    }
}

@media (min-width: 770px) and (max-width: 1124px){
    .grdimg{
        margin-left: 80px;
        height: 300px;
        width: 180px;
        top: 80px;
    }
    .background-gradient{
        margin-left: 55px;
        height: 170px;
        width: 230px;
        top: 260px;
    }

}

/* AI-Centric Section */
.container3 {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.con3text {
    display: flex;
    width: 90%;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-size: 24px;
}

.con3para {
    text-align: start;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 50px;
    font-size: 16px;
}

.con3img img {
    width: 350px;
    height: 550px;
    object-fit: center;
    border-radius: 8px;
    margin-right: 30px;
}

/* Industry Section */
.indus {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.indusimg {
    height: 100%;
    width: 50%;
}

.indusimg img {
    height: 550px;
    width: 500px;
    border-radius: 8px;
    object-fit: center;
    margin-left: 100px;
}

.industext {
    text-align: center;
    position: relative;
    right: 0;
    align-items: center;
}

.induspara {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.indusbox {
    background-color: #daf9ff;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.indusbox:hover {
    border: solid 5px #a6f0ff;
    cursor: pointer;
    transform: scale(1.1);
}

/* Why Choose Section */
.why {
    width: 100%;
    height: 50%;
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.wflex {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.wflex p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flexitems {
    text-align: center;
    width: 30%;
    height: auto;
}

.flexitems img{
    border-radius: 15px;
}
.flexitems h3 {
    font-size: 20px;
    font-weight: 600;
}


/* Career Section */
.container-career {
    text-align: center;
}

.heading-1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
}

.button-1 {
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 40px;
    cursor: pointer;
    background-color: #a6f0ff;
    border: none;
    border-radius: 5px;
}

.button-1:hover{
    color: #000;
    border: solid #a6a6a6;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-1,
.logo-2,
.logo-3,
.logo-4 {
    font-size: 3rem;
    margin-right: 10px;
    color:  #fb24e5;
}

.heading-2 {
    font-size: 1.2rem;
    color: #6d03a0;
}

/* Footer Section */
footer {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: rgb(255, 204, 0);
}

.fotcont {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.details h3 {
    padding-bottom: 10px;
}

.details p {
    padding-bottom: 10px;
}

.fsocial {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    gap: 5%;
    font-size: 34px;
}

.details a {
    color: #a6c2c7;
    padding-bottom: 5px;
}

.fsocial a {
    color: rgb(255, 204, 0);
}

.quicklinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quicklinks a {
    margin-top: 4px;
}

.copy {
    height: 12%;
    text-align: center;
    font-size: small;
    opacity: 50%;
    border-top: solid #a6c2c7;
    padding-top: 10px;
}


@media (max-width: 768px){
    .indusimg img{
        width: 0%;
        height: 0%;
        visibility: hidden;
        margin: 0;
    }

    .wflex{
        flex-direction: column;
        align-items: center;
    }
    .flexitems{
        width: 80%;
    }
    .why p{
        margin-top: 20px;
    }
    footer{
        height: auto;
    }

    .fotcont{
        flex-direction: column;
        align-items: center;
    }
    .details{
        width: 100%;
        text-align: center;
    }

}

@media (min-width: 770px) and (max-width: 1124px){
    .indusimg img{
        height: 550px;
        width: 320px;
    }
    .indusimg{
        margin-left: 0px;
    }
}